@model CustomrsFinder.Models.ViewModels.LoginModel

@{
    ViewData["Title"] = "Информация по контрагентам";
    Layout = "~/Views/Shared/_LayoutBeforeLogining.cshtml";
}

<h2>Вход на сайт</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>
<hr />
<form asp-action="Index" asp-controller="Account" asp-anti-forgery="true">
    <div class="form-horizontal col-md-offset-2">
        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="input-group mb-3 md-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i></span>
                </div>
                <input class="form-control" type="text" asp-for="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div class="input-group mb-3 md-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
                </div>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


